@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-forceground: var(--forceground);
  --font-primary: var(--font-padauk);
  --font-secondary: var(--font-inter);
}

:root {
  --primary: #ffffff;
  --orange: #fe7743;
  --green: #67c090;
  --forceground: #222831;
  --font-primary: "Padauk", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

@layer base {
  * {
    @apply p-0 m-0;
  }
  body {
    @apply text-primary font-primary;
  }
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
