@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "ShanWanhai";
  src: url("/fonts/ShanWanhai.ttf");
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-primary: var(--primary);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-forceground: var(--forceground);
  --font-primary: var(--font-primary);
}

:root {
  --primary: #ffffff;
  --orange: #fe7743;
  --green: #67c090;
  --forceground: #222831;
  --font-primary: "ShanWanhai", sans-serif;
}

@layer base {
  * {
    @apply p-0 m-0;
  }
  body {
    @apply text-primary font-primary;
  }
}
